<div class="about-text">
    <h1 class="heading-text" style="font-family: cocosharp;">MY SKILLS</h1>
    <hr style="width: 50%"/>

    <div class="content" style="margin-left: 10%; margin-right: 10%; margin-top: 25px">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/csharp.svg" width="75px">
                <h1>.NET</h1>
                <p>I have over six years of experience working with C# and .NET. This includes backend development for Xamarin and MAUI applications, API development utilising Entity Framework. </p>
                <p>I have experience with unit testing using Nunit and Moq, as well as benchmarking with Benchmark DotNet. </p>
            </div>

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/xamarinlogo.png" width="70px">
                <h1>Xamarin</h1>
                <p>I have strong experience using Xamarin Forms to create cross platform mobile applications. This includes two OEM implementations of an Android Automotive application that runs directly in-vehicle. Also worked on AliveDrive Race, a companion app to the aforementioned Automotive app that runs on iOS and Android. </p>
                <p>Exposure to native APIs for video players and overlaying live data over videos using AVKit, AVFoundation, and Exoplayer.</p>
            </div>

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/maui.png" width="70px">
                <h1>MAUI</h1>
                <p>Recently made the switch to MAUI at Cosworth giving me experience porting complex components from Xamarin to MAUI. <p>
                <p>Experience with greenfield MAUI applications that run on Android, iOS, Windows, and Mac. </p>
            </div>

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/angular.png" width="75px">
                <h1>Angular</h1>
                <p>Gained two years of experience working with Angular whilst working at Woodland, including popular Component Libraries such as PrimeNG and Angular Material.</p>
                <p>I co-lead development on a new front end system for a Fulfilment Order Management portal used by dozens of clients all over the world at Woodland Group.</p>
            </div>

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/android.png" width="68px">
                <h1>Android</h1>
                <p>I have experience using Java and Android Studio to develop native Android Applications.</p>
                <p>I am familiar with Google's ML Kit and CameraX APIs, having used both for a Barcode Scanning application that is still used in Woodland warehouses all over the world.</p>
            </div>

            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                <img src="assets/images/sqllogo.png" height="60px">
                <h1>SQL</h1>
                <p>Database Management skills using SQL to maintain and develop large databases in Microsoft SQL Management Studio.</p>
                <p>Once familiar with a database, I can write Views and Procedures of a fair level of complexity, as well as designing fast and efficient databases.</p>
            </div>

        </div>
    </div>
</div>