  <div class="main-text">
    <h1 class="heading-text" style="font-family: cocosharp;">SCOTT KINCHLEA</h1>
    <h3 class="subheading-text" style="margin-left: 50px; margin-right: 50px;">
        UK Based Developer with skills in Angular Web Development, Android Development with Java and Xamarin, and REST API Development using .NET. <br>
        Constantly learning new things with the aspiration of becoming an experienced Full Stack Developer.
    </h3>
    <button mat-stroked-button color="#FFFFFF" style="font-size: 25px; font-weight: lighter; padding: 5px; padding-left: 15px; padding-right: 15px;" routerLink="/about">About Me</button>
  </div>