  <div class="main-text">
    <h1 class="heading-text" style="font-family: cocosharp;">SCOTT KINCHLEA</h1>
    <h3 class="subheading-text" style="margin-left: 50px; margin-right: 50px;">
        UK Based Software Engineer with strong skills in .NET utilising MAUI and Xamarin from cross-platform application development. <br>
        Passionate about writing clean code that is efficient, reusable, and scalable.
    </h3>
    <button mat-stroked-button color="#FFFFFF" style="font-size: 25px; font-weight: lighter; padding: 5px; padding-left: 15px; padding-right: 15px;" routerLink="/about">About Me</button>
  </div>