  .main-text{
      color: #FFFFFF;
      text-align: center;
      word-wrap: break-word;
  }

  .heading-text{
      margin-top: 15%;
  }

  .subheading-text{
    margin-top: 3%;
    font-size: 20px;
}

@media screen and (min-width: 601px) {
    .heading-text {
      font-size: 125px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1070px) {
    .heading-text {
        font-size: 60px;
      }
  }

  @media screen and (max-width: 520px) {
    .heading-text {
        font-size: 40px;
      }
  }